<!DOCTYPE html>
<html>
    <head>
        <title>Weather Search</title>
        <link rel="stylesheet" type="text/css" href="app.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>

<body>
<div class="container">
    <h1>Search for a location</h1>

    <form action="/weather" method="GET">
        <input type="text" placeholder="town or city" name="search"><br>
        <input type="submit" class="button">
    </form>
</div>
</body>
</html>